@import '_vars';
@import '_mixins';

.excursions-section {
    height: 100vh;
    background-color: $background-color;

    &__content {
        display: flex;
        align-items: center;
        gap: 5vw;
        height: 70%;

        .excursions-section__text {
            @include section-content;
        }

        .excursions-section__picture-container {
            margin-top: 100px;
            margin-right: 50px;
            height: 100%;
            width: 50%;
            background-image: url('/img/excursions-section/wine-barrel.jpg');
            background-repeat: no-repeat;
            border-radius: 15px;
            height: 100%;
            object-position: center center;
            background-size: cover;
        }
    }
}