@import '_vars';
@import '_mixins';

.excursions-section {
    height: 120vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        align-items: center;
        gap: 5vw;

        .excursions-section__text {
            margin-top: 100px;
            margin-left: 50px;
            @include section-content;
        }

        .excursions-section__picture-container {
            margin-top: 210px;
            margin-right: 50px;
            background-image: url('/img/excursions-section/wine-barrel.jpg');
            @include picture-container;
            height: 80%;
        }
    }
}