@import '_vars';
@import '_mixins';

.excursions-section {
    height: 120vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 5vw;

        .excursions-section__text {
            margin-left: 50px;
            @include section-content;
        }

        .excursions-section__picture-container {
            width: 50%;
            height: 100%;


            .excursions-section__img {
                background-image: url('/img/excursions-section/wine-barrel.jpg');
                @include picture-container;
                height: 100%;
                background-size: contain;
                height: 30vw;
                width: 30vw;
            }
        }
    }
}