@import '_mixins';

.contacts-section__form-container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.feedback-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 313px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px -5px 4px 0px rgba(0, 0, 0, 0.3);
    background-color: rgb(175, 119, 36);


}

.feedback-form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/spinning-loading.svg');
    background-repeat: no-repeat;
    object-position: center center;
    background-size: contain;
    z-index: 5;
    background-color: rgba(51, 51, 51, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.sending::after {
    opacity: 1;
    visibility: visible;
}


.feedback-form label {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.feedback-form input,
#form-textarea {
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

#form-textarea {
    resize: none;
}

.feedback-form .input-invalid {
    border: 2px solid red;
}

.feedback-form button,
.notification__close-modal-window {
    width: 313px;
    margin-top: 20px;
    padding: 10px;
    @include button-styling;
}

.feedback-form button:hover,
.notification__close-modal-window:hover {
    @include button-styling-hover;
}

.feedback-form button:active,
.notification__close-modal-window:active {
    @include button-styling-active;
}

.feedback-form__error {
    color: black;
    font-size: 12px;
    margin-top: 5px;
}

div.modal-window-hide {
    display: none;
}

.modal-window {
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 95, 91, 0.7);
    height: 100vmax;
    width: 100vmax;
    z-index: 5;
}

.modal-window__notification {
    position: fixed;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(175, 119, 36);
    border-radius: 10px;
    font-weight: bold;
    height: 50vh;
    width: 80vw;
    font-size: x-large;
    text-align-last: center;
}

.notification__close-modal-window {
    width: 30vw;
    font-size: x-large;
}