@import '_vars';
@import '_mixins';

.hero-section {
    height: 100vh;
    background-image: url('/img/hero-section/winery.jpg');
    background-repeat: no-repeat;
    object-position: center center;
    background-size: cover;

    &__content {
        display: flex;
        align-items: center;
        gap: 5vw;
        height: 70%;

        .hero-section__text {
            background-color: rgba(30, 17, 9, 0.7);
            border-radius: 15px;
            padding: 30px;
            margin-top: 100px;
            margin-left: 50px;
            @include section-content;

            h1 {
                padding: 10px;
            }
        }
    }
}