@import '_vars';

@mixin button-styling {
    font-size: 18px;
    color: white;
    background-color: $button-background-color;
    border: 1px solid $button-background-color;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}

@mixin button-styling-hover {
    background-color: $button-hover-background-color;
}

@mixin button-styling-active {
    background-color: $button-active-background-color;
}

@mixin section-content {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    width: 50%;

    h1 {
        font-size: 48px;
        text-align: center;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
    }
}