$header-color: rgb(30, 17, 9);
$background-color: #5E2129;
$body-font-color: white;
$button-background-color: rgb(30, 17, 9);
$button-hover-background-color: rgb(21, 12, 6);
$button-active-background-color: rgb(15, 8, 2);