@import '_reset';
@import '_vars';
@import '_header';
@import '_hero';
@import '_about';
@import '_excursions';
@import '_footer';
@import '_buttons';
@import '_galary';
@import '_contacts';


body {
    color: $body-font-color;
    font-family: sans-serif;
}

.heading {
    padding: 50px;
    font-size: 48px;
    text-align: center;
}