@import '_reset';
@import '_header';
@import '_vars';

// @mixin first {}

body {
    background-color: $background-color;
    color: $body-font-color;
    font-family: sans-serif;
}

// div {
//     @include first;
// }